<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<rule name="Reverse Proxy to ogc" stopProcessing="true">
					<match url="^[_0-9a-z-][^.]*$" />
					<action type="Rewrite" url="https://www.qualityml.org/1.0/domain/index.htm" />
				</rule>
			</rules>
		</rewrite>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
